
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: row;
}

a { text-decoration: none; color: white;}

.container {
  width: 100%;
}

.box {
  display: flex;
  height: 100vh;
}

.box1 { background-color: yellow;}
.box2 { background-color: #ccc;}

h1.one { 
  margin: 0 auto;
}


.menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  width: 200px;
  color: #FFF;
  padding-left: 90px;
}

.nav-dot {
  padding-bottom: 10px;
  color: #c2c2c2;
}

.logo {
  display: block;
  position: absolute;
  top: 30px;
  margin-left: -13px;
}

.vert-line { 
  height: 200px; 
  padding-bottom: 10px;
}

.nav-num {
  margin-left: -13px;
  font-size: 2rem;
  color: #FFF;
}

 .active {
   margin-left: -2px;
  font-size: 2rem;
  color: #FFF;
}

