
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  background-color: #000;
  width: 200px;
  color: #FFF;
}